.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.label {
    font-weight: 400;
    font-size: 30px;
}

.helperText {
    font-weight: 400;
    font-size: 35px;
}