:root {
    --gray-color: #201B10;
    --green-color: #2AE881;
    --yellow-color: #FCE300;
    --red-color: #FF5F00;

    --disabled-color: #C0C0C0;

    --main-background-color: #FCE2FF;
    --dark-purple-background-color: #CB81FF;
    --light-purple-background-color: #EACDFF;
    --turquoise-backgroud-color: #D4FAE6;
}